body{
	background-color: #E8E8E8;
	font-family: candara, sans-serif;
	}

	#header{
	padding: 15px;
	color: black;
	font-size: 80px;
	text-align:center;
	min-width: 700px;
	}

	.yim{
		font-size: 16px;
	}

	#linkbar{
		padding: 15px;
		margin: auto;
		width: 700px;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		text-align: center;

	}

	li{
		display: inline;
		margin: 50px;
	}

	a:link{color: #000000; text-decoration:none;}
	a:visited{color: #000000; text-decoration:none;}
	a:hover{color: #909090; text-decoration:none;}
	a:active{color: #000000; text-decoration:none;}

	#post1{
		width: 700px;
		padding: 15px;
		margin: auto;
	}

	.date1{
		width: 700px;
		padding: 0px;
		font-size: 80%;
		text-align: left;
	}

	#head1{
		margin: auto;
		padding: 0px;
		text-align: left;
	}

	#subheader{
		font-size: 50%;
	}

	.text{
		width:700px;
		padding: 15px;
		text-align: left;
	}
	
	table{
		margin:auto;
	}

	tr{
		font-size: 75%;
		text-align: center;
	}

	td{
		padding: 5px;
		border: 1px solid black;
	}

	#leftalign{
		text-align: left;
		border: 0px;
	}

	#rightalign{
		text-align:right;
		padding: 5px;
	}

	.block_ex{
		width: 254px;
		height: 48px;
	}

	.result{
		width: 52px;
		height: 45px;
		border: 1px solid black;
	}

	.proc_ex1{
		width: 352px;
		height: 33px;
	}

	.proc_ex2{
		width: 361px;
		height: 32px;
	}

	.proc_result2{
		width: 44px;
		height: 18px;
		border: 1px solid black;
	}

	.proc_ex3{
		width: 400px;
		height: 106px;
	}

	.proc_result3{
		width: 125px;
		height: 31px;
		border: 1px solid black;
	}

	.lambda_ex1{
		width: 352px;
		height: 33px;
	}

	.lambda_ex2{
		width: 358px;
		height: 32px;
	}

	.lambda_result2{
		width: 596px;
		height: 17px;
		border: 1px solid black;
	}

	.lambda_ex3{
		width: 397px;
		height: 105px;
	}

	.lambda_result3{
		width: 188px;
		height: 19px;
		border: 1px solid black;
	}

	#resources{
		color: #909090;
		display:block;
		padding: 0px;
		margin: 0px;
		text-align: center;
	}


	#footer{
		background-color: black;
		color: white;
		position: fixed;
		bottom: 0px;
		left: 0px;
		padding: 5px;
		width: 100%;
		font-size: 16px;
		text-align: center;
	}

	.footer{
		font-size: 10px;
	}