<header>
	<a id="go-back-home" href="/"><img src="/images/grace_circle.png" width="110" height="118"></a>
	<h2>{{ site.title }}</h2>

	<div class="contact-links">
	  <a class="icon-email" href="mailto:graceekyim@gmail.com" title="Email"><i class="fa fa-envelope-o muted icons"></i></a>
	  <a class="icon" href="http://github.com/graceekyim" title="GitHub"><i class="fa fa-github-square muted icons"></i></a>
	  <a class="icon" href="http://linkedin.com/in/graceekyim/" title="LinkedIn"><i class="fa fa-linkedin-square muted icons"></i></a>
	</div>

</header>