<nav class="side-bar">
	<div class="home-link">
		<li><a class="icon-home" href="/" title="Home"><i class="fa fa-home"></i></a></li>
	</div>
	<div class="web-links">
    <li><a class="icon-email" href="mailto:graceekyim@gmail.com" title="Email"><i class="fa fa-envelope-o"></i></a></li>
    <li><a class="icon" href="http://github.com/graceekyim" title="GitHub"><i class="fa fa-github-square"></i></a></li>
    <li><a class="icon" href="http://linkedin.com/in/graceekyim/" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>	
	</div>
</nav>