body{
	background-color: #E0E0E0;
	font-family: optima, sans-serif;
	}

	#header{
	padding: 15px;
	color: black;
	font-size: 40px;
	text-align:center;
	min-width: 800px;
	}

	.main_table{
	padding: 4px;
	min-width: 800px;
	border: 2px solid black;
	margin:auto;
	}

	td{
		max-width: 340px;
	}

	#snip{
		border: 1px solid #888888;
	}

	#titles{
		font-size: 20px;
		text-align:center;
	}
	

	#footer{
		background-color: black;
		color: white;
		position: fixed;
		bottom: 0px;
		left: 0px;
		padding: 5px;
		width: 100%;
		font-size: 16px;
		text-align: center;
	}

	.footer{
		font-size: 10px;
	}