body {
	font-family: Andale Mono, monospace;
	font-size: 14px;
	background-color: #E9E9E9;
	color: #0066FF;
}

p {
	color: #3366FF;
}
#head1 {
	font-family: Consolas, monospace;
	font-size: 20px;
	color: #000000;
}

#head2{
	font-family: Consolas, monospace;
	font-size: 19px;
	color: #000000;
}

#head3{
	font-family: Consolas, monospace;
	font-size: 18px;
	color: #000000;
}

#head4{
	font-family: Consolas, monospace;
	font-size: 17px;
	color: #000000;
}

#head5{
	font-family: Consolas, monospace;
	font-size: 16px;
	color: #000000;
}

#head6{
	font-family: Consolas, monospace;
	font-size: 15px;
	color: #000000;
}

.foods{
	font-size:14px;
}

