body{
	font-family: Consolas, monospace;
	font-size: 16px;
	background-color: #E9E9E9;
	font-color: #000000;
}

#header{
	height: 30px;
	width: 800px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	padding: 10px;
	margin: 30px;
}

#content{
	float: left;
	height: 400px;
	width: 700px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	padding: 10px;
	margin: 30px;
}

.red{
	color:red;
}

a:link{color: #009900;}
a:visited{color: black;}
a:hover{color: red;}
a:active{color: #006699;}

#sidebar{
	float: right;
	height: 400px;
	width: 200px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	padding: 10px;
	margin: 30px;
}

#image{
	height: 260px;
	width: 445px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding: 5px;
	margin: 30px;
}

p.caption{
	position: absolute;
	top: 340px;
	left: 55px;
	color: ghostwhite;
}

#footer{
	clear: left;
	bottom: 0px;
	height: 30px;
	width: 800px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	padding: 10px;
	margin: 30px;
}