body{
	background-color: #E8E8E8;
	font-family: candara, sans-serif;
	}

	#wrapper{
		width: 700px;
		margin: 0 auto;
	}

	#header{
	padding: 15px;
	color: black;
	font-size: 80px;
	text-align:center;
	}

	.yim{
		font-size: 16px;
	}

	#navbar{
		padding: 15px;
		margin: 15px;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		text-align: center;

	}

	li{
		display: inline;
		margin: 25px;
		padding: 25px;
	}

	a:link{color: #000000; text-decoration:none;}
	a:visited{color: #000000; text-decoration:none;}
	a:hover{color: #909090; text-decoration:none;}
	a:active{color: #000000; text-decoration:none;}

	li.home{
		color: #909090;
	}


	#post1{
		float: left;
		width: 60%;
		margin: 1.5%;
		text-align: center;
	}

	#sidebar{
		float:right;
		width: 30%;
		margin: 1.5%;
		font-size: 75%;
	}

	#info{
		text-align: center;
	}

	img{
		padding:2%;
		background-color: ghostwhite;
	}

	#footer{
		background-color: black;
		color: white;
		position: fixed;
		bottom: 0px;
		left: 0px;
		padding: 5px;
		width: 100%;
		font-size: 15px;
		text-align: center;
	}

	.footer{
		font-size: 10px;
	}