body{
	background-color: #FAFFFF;
	font-family: candara, sans-serif;

	}

	#header{
	padding: 15px;
	color: black;
	font-size: 80px;
	text-align:center;
	min-width: 600px;
	}

	.yim{
		font-size: 16px;
	}

	#linkbar{
		padding: 15px;
		margin: auto;
		width: 600px;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		text-align: center;

	}

	li{
		display: inline;
		margin: 50px;
	}

	li.home{
		color: #909090;
	}


	#post1{
		width: 600px;
		padding: 15px;
		margin: auto;
		text-align: center;
	}

	p.date1{
		width: 600px;
		padding: 5px;
		font-size: 80%;
		text-align: left;
	}

	#head1{
		width: 600px;
		padding: 5px;
		text-align: left;
	}

		p.text{
		width:600px;
		padding: 15px;
		text-align: left;
	}
	
	.site1{
		width: 600px;
		text-align: left;
		font-size: 120%;
	}


	a:link{color: #000000; text-decoration:none;}
	a:visited{color: #000000; text-decoration:none;}
	a:hover{color: #909090; text-decoration:none;}
	a:active{color: #000000; text-decoration:none;}

	#footer{
		background-color: #FAFFFF;
		position: fixed;
		bottom: 0px;
		left: 0px;
		padding: 5px;
		width: 100%;
		font-size: 16px;
		text-align: center;
	}

	.footer{
		font-size: 10px;
	}