body{
	background-color: #FAFFFF;
	font-family: candara, sans-serif;

	}

	#header{
	padding: 15px;
	color: black;
	font-size: 80px;
	text-align:center;
	min-width: 700px;
	}

	.yim{
		font-size: 16px;
	}

	#navbar{
		padding: 15px;
		margin: auto;
		width: 700px;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		text-align: center;

	}

	li{
		display: inline;
		padding: 25px;
		margin: 25px;
	}

	a:link{color: #000000; text-decoration:none;}
	a:visited{color: #000000; text-decoration:none;}
	a:hover{color: #909090; text-decoration:none;}
	a:active{color: #000000; text-decoration:none;}

	#post1{
		width: 700px;
		padding: 5px;
		margin: auto;
		text-align: left;
	}

	p.date1{
		font-size: 80%;
		text-align: left;
	}

	#head1{
		margin: auto;
		text-align: left;
	}

	#subheader{
		font-size: 50%;
	}

	.text{
	width:700px;
	padding: 15px;
	text-align: left;
	}

	.example{
		font-size:75%;
	}
	
	#inline_ex{
		width: 631px;
		height: 29px;
		margin: auto;

	}

	#inline_result{
		width: 345px;
		height: 31px;
		margin: auto;
		border: 1px solid #E8E8E8;
	}

	.navbar_page{
		font-size: 75%;
	}

	#block_elem{
		width: 520px;
		height: 27px;
		margin: auto;
	}

	#block_result{
		width: 247px;
		height: 120px;
		margin: auto;
		border: 1px solid #E8E8E8;

	}

	#navbar_html{
		width: 562;
		height: 83px;
		margin: auto;

	}

	#navbar_css1{
		width: 206;
		height: 85px;
		margin: auto;

	}

	#navbar_result1{
		width: 650;
		height: 318px;
		margin: auto;
		border: 1px solid #E8E8E8;
	}

	#navbar_css2{
		width: 206;
		height: 102px;
		margin: auto;
	}

	#navbar_result2{
		width: 650;
		height: 81px;
		margin: auto;
		border: 1px solid #E8E8E8;
	}

	#navbar_css3{
		width: 207;
		height: 100px;
		margin: auto;
	}

	#navbar_result3{
		width: 650;
		height: 146px;
		margin: auto;
		border: 1px solid #E8E8E8;
	}

	th{
		border-bottom: 1px solid black;
	}

	tr{
		font-size: 75%;
		background-color: #E8E8E8;
	}


	#footer{
		background-color: black;
		color: white;
		position: fixed;
		bottom: 0px;
		left: 0px;
		padding: 5px;
		width: 100%;
		font-size: 15px;
		text-align: center;
	}

	.footer{
		font-size: 10px;
	}